*.VC.db
*.VC.opendb
*.sdf

/Debug
/Release
/Medieval/Debug
/Medieval/Release
/.vs
/Medieval/.vs
/Medieval.VC.db

*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.suo

*.cbp
*.depend
*.layout

Medieval/bin
Medieval/obj

*/controls.config