*.VC.db
*.VC.opendb
*.sdf

/Debug
/Release
/Medieval/Debug
/Medieval/Release
/.vs
/Medieval/.vs
/Medieval.VC.db

/Medieval/x64
/Medieval/MedievalTK/EntityTK/GeneratedFiles
/Medieval/MedievalTK/EntityTK/x64


*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.suo

*.cbp
*.depend
*.layout

Medieval/bin
Medieval/obj

*/controls.config
acp.py